/* Columns
 */
.halfColumn {
    width: 48%;
    outline: 1px solid #f00;
}

.halfColumn.left {
    float: left;
}

.halfColumn.right {
    float: right;
}

/* Content
 * This section contains all the styles used when editing content.
 */

/* Components
 */
#componentsEditable {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#componentsEditable li {
    margin: 0px;
    padding: 0px;
}

#componentsEditable li textarea {
    font-size: 11px;
    height: 100px;
}

/* Live Preview
 */
.fixedTop {
    position: fixed;
    top: 0px;
    left: 50%;
}

.componentsEditablePreview {
    width: 100%;
    height: 500px;
    display: block;
    overflow: scroll;
}